body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url(https://img.freepik.com/premium-photo/watercolor-background-simple-hand-drawn_82802-376.jpg?w=360);
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
    margin: 0;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: black;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    align-items: center;
}

.language {
    background-color: rgb(77, 161, 251);
    color: black;
    font-size: large;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    animation: bounceIn 0.3s ease-in-out;
}

.language:hover {
    background-color: rgb(21, 172, 51);
    transform: scale(1.0, 1.1);
    box-shadow: 0 12px 20px rgba(227, 145, 145, 0.3);
    color: black;
}

#logout {
    background-color: red;
    width: 180px;
    padding: 10px;
    margin-top: 100px;
    border-radius: 100px;
    border: none;
    color: white;
}

/* responsive styling */

@media (min-width:768px) and (max-width: 1200px) {
    body {
        background-size: 100% auto;
        height: auto;
        background-image: url(https://img.freepik.com/premium-vector/gradient-abstract-background_1139419-99.jpg);
        background-size: cover;
    }

    .container {
        height: 90%;
        margin-top: 2rem;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .language {
        width: 130%;
        height: 30%;

    }
    #logout{
        width:40%;
        height: 20%;
        font-size: 100%;
        font-weight: 600;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    body {
        background-size: 100% auto;
        height: auto;
        background-image: url(https://marketplace.canva.com/EAGS_qOXjpI/1/0/800w/canva-blue-and-purple-gradient-background-instagram-post-tyx2VpF2bkk.jpg);
        background-size: cover;
    }

    .container {
        height: 90%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .language {
        width: 50%;
        height: 20%;
    }

    h2 {
        font-size: 1.8rem;
    }
    #logout{
        width:40%;
        height: 20%;
        font-size: 100%;
        font-weight: 600;
    }
}

@media (min-width:0px) and (max-width: 480px) {
    body {
        background-size: 100% auto;
        height: auto;
        background-image: url(https://img.freepik.com/premium-vector/vibrant-simple-background-with-white-space-custom-content_98100-4177.jpg?semt=ais_hybrid);
        background-size: cover;
    }

    .container {
        height: 90%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .language {
        width: 50%;
        height: 20%;
    }

    h2 {
        font-size: 1.5rem;
    }
    #logout{
        width:40%;
        height: 20%;
        font-size: 100%;
        font-weight: 600;
    }
}